.job-list-item {
  list-style-type: none;
  background-color: #272727;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .job-list-item {
    padding: 20px;
    margin-bottom: 16px;
  }
}

.job-list-item-button {
  width: 100%;
  border: none;
  background-color: transparent;
}

.item-logo-name-container {
  display: flex;
  /* align-items: center; */
}

.job-list-item-logo {
  width: 45px;
  margin-right: 6px;
}

@media screen and (min-width: 768px) {
  .job-list-item-logo {
    width: 60px;
  }
}

.item-name-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-job-list-item-name {
  color: #ffffff;
  font-size: 13px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .item-job-list-item-name {
    font-size: 24px;
  }
}

.item-rating-container {
  display: flex;
  align-items: center;
  margin: 0px;
}

.rating-star {
  font-size: 15px;
  color: #fbbf24;
  margin-right: 3px;
}

@media screen and (min-width: 768px) {
  .rating-star {
    font-size: 20px;
  }
}

.item-rating {
  margin: 0px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .item-rating {
    font-size: 20px;
  }
}

.item-location-salary-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-location-employment {
  display: flex;
}

.item-location-container {
  display: flex;
  color: #ffffff;
  align-items: center;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .item-location-container {
    font-size: 18px;
  }
}

.job-item-location-item {
  /* margin-right: 2px; */
}

.item-employment-type-container {
  display: flex;
  color: #ffffff;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .item-employment-type-container {
    font-size: 18px;
  }
}

.job-item-work-icon {
  margin-right: 4px;
}

.item-salary {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .item-salary {
    font-size: 18px;
  }
}

.item-description-head {
  color: #ffffff;
  font-size: 14px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .item-description-head {
    font-size: 20px;
  }
}

.item-description {
  color: #ffffff;
  font-size: 12px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .item-description {
    font-size: 16px;
  }
}
